body {
    margin: 0;
    padding: 0;
    background-color: #36403a;
    background-size: cover;
    background-repeat: no-repeat;
}

.red-font {
    color: #E53A40;
}

.red {
    background-color: #E53A40;
}

.red-font {
    color: #E53A40;
}

.yellow {
    background-color: #EFDC05;
}

.yellow-font {
    color: #EFDC05;
}

.blue {
    background-color: #30A9DE;
}

.blue-font {
    color: #30A9DE;
}

.spacer {
    padding: 5px;
}

.container {
    margin: 0 auto;
    margin-top: 25px;
    height: 95%;
    width: 90%;
    max-width: 900px;
    max-height: 1700px;
    background-color: #E6E6E6;
}

.settings {
    float: right;
    margin: 5px 0;
}

.settings i {
    font-size: 3.5em;
}

.animal_window {
    margin: 0 auto;
    width: 95%;
    max-width: 850px;
    height: 530px;
    text-align: center;
    overflow: none;
}

.primary {
    float: left;
    width: 90%;
    height: 500px;
    margin: -2em 2em;
    background-size: cover;
    background-repeat: no-repeat;
}

.name {
    background-color: #00870D;
    padding: 0.5em 1em;
    float: left;
    font-size: 2em;
}

.animal_menu {
    margin: 0 auto;
    width: 90%;
    padding: 1em 0;
    border-top: solid 1px #929292;
    border-bottom: solid 1px #929292;
}

.animal_menu table {
    width: 100%;
}

    .animal_menu table {
        font-size: 3.5em;
    }

    .animal_menu th {
        text-align: left;
        padding-right: 0.25em;
    }

    .animal_menu td {
        width: 30%;
    }

.bar {
    width: 100%;
    background-color: #C9C9C9;
}

.fill {
    width: 10%;
    float: left;
    border-left: solid 2px #C9C9C9;
}

.tiles {
    margin: 0 auto;
    padding-left: 2em;
    width: 90%;
    height: 800px;
}

    .tiles div {
        width: 45%;
        height: 45%;
        float: left;
        margin: 5px;
        background-size: 75%;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .shop {
        background-image: url('/media/general/shop.png');
        background-color: #C0307B;
    }

    .contest {
        background-image: url('/media/general/contest.png');
        background-color: #C0307B;
    }

    .family {
        background-image: url('/media/general/family.png');
        background-color: #C0307B;
    }

    .park {
        background-image: url('/media/general/park.png');
        background-color: #C0307B;
    }